* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.legend-mobile-burger {
  display: none;
  position: absolute;
  top: 0;
  width: 51px;
  height: 51px;
  z-index: 1000;
  background: #FFF;
  border: solid 1px #ccc;
  border-right: none;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.legend-mobile-burger svg {
  width: 26px;
  height: 26px;
  color: #334155;
}
@media (max-width: 768px) {
  .mobile-menu-open .legend-mobile-burger {
    right: 60vw;
  }
  .legend-mobile-burger {
    display: block;
    right: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
